[Unit]
Description=ecos_remote
After=network.target network-online.target syslog.target
Wants=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/remote-service -c /etc/remotes/remote.config

[Install]
WantedBy=multi-user.target

